---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <div class="column">
                        <a href="https://www.unsw.edu.au/canberra/about-us/our-schools/science">
                            <img src="{{ site.uni-logo }}" style="width:80%; position: relative; margin: auto; top: 0; left: 0; right: 0; bottom: 0;">
                        </a>
                    </div>
                    <div class="column">
                        <a href="{{ site.url }}">
                            <img src="{{ site.logo }}" class="img-circle zoombtn animated tada">
                        </a>
                    </div>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                    <!-- {% include social-links.html %} -->
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         News
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/faculty">
                         Faculty
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/members">
                         Members
                        </a>
                        <a class="btn zoombtn" href="{{ site.url }}/past-members">
                         Past Members
                        </a>
                 </h3>
                 <hr class="hr-line">
                 <p style="font-size:0.7rem;font-weight:300">Website based on the <a href="https://github.com/TaylanTatli/Moon">Moon theme</a>. Background image by <a href="https://www.eso.org/public/images/eso1625a/">ESO/H. Drass et al.</a> and supernova logo by <a href="https://www.flaticon.com/free-icons/supernova">Agung Rama</a></p>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
